@font-face {
	font-family: Fira Code;
	src: url(~assets/fonts/FiraCode-Regular.woff2);
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	font-family: Roboto, 微軟正黑體, Microsoft JhengHei, Helvetica Neue,
		Helvetica, Arial, PingFang TC, 黑體-繁, Heiti TC, 蘋果儷中黑,
		Apple LiGothic Medium, sans-serif;
}
