{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    ["@babel/preset-env"],
    ["@emotion/babel-preset-css-prop"]
  ],
  "plugins": ["@babel/plugin-transform-runtime", "emotion", "macros"],
  "env": {
    "development": {
      "plugins": ["react-refresh/babel"]
    }
  }
}
