.Home {
	@apply flex-auto flex text-center;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.Home-logo {
	height: 40vmin;
	animation: spin 60s linear infinite;
	@apply pointer-events-none;
}

.Home-header {
	font-size: calc(10px + 2vmin);
	@apply flex-auto flex flex-col items-center justify-center;
}

.Home-link {
	color: #61dafb;
}
.Home-link:hover,
.Home-link:focus {
	@apply underline;
}

.Home-link:fullscreen {
	@apply rotate-45;
}
