.color-picker {
	padding: 0.75rem;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
	--selected-color: #ffffff;
	--selected-hue: #ff0000;
	--palette-pointer-x: 0;
	--palette-pointer-y: 0;
	--hue-slider-y: 0;
	--alpha-slider-y: 0;
	background: var(--color-picker-background);
}

.color-picker-controls {
	margin-top: 0.75rem;
	display: grid;
	gap: 0.75rem;
	grid-gap: 0.75rem;
	grid-template-columns: 1fr 50px 50px;
}

.color-picker-palette {
	position: relative;
	background-color: #ffffff;
}

.color-picker-palette-pointer {
	position: absolute;
	border-color: #f7fafc;
	border-radius: 9999px;
	background-color: var(--selected-color);
	border-width: 2px;
	width: 16px;
	height: 16px;
	transform: translate(
		calc(var(--palette-pointer-x, 0) * 1px - 8px),
		calc(var(--palette-pointer-y, 0) * 1px - 8px)
	);
}

.color-picker-palette-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	background: var(--selected-hue);
}
.color-picker-palette-bg1 {
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(to right, #fff 0%, transparent 100%);
}
.color-picker-palette-bg2 {
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(to bottom, transparent 0%, #000 100%);
}

.color-picker-hue {
	position: relative;
	background-color: #ffffff;
}

.color-picker-hue-slider {
	position: absolute;
	border-color: #f7fafc;
	border-radius: 9999px;
	background-color: var(--selected-hue);
	border-width: 2px;
	width: calc(100% + 4px);
	left: -2px;
	height: 10px;
	transform: translate(0px, calc(var(--hue-slider-y, 0) * 1px - 5px));
}

.color-picker-hue-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(
		to bottom,
		hsl(0, 100%, 50%),
		hsl(60, 100%, 50%),
		hsl(120, 100%, 50%),
		hsl(180, 100%, 50%),
		hsl(240, 100%, 50%),
		hsl(300, 100%, 50%),
		hsl(360, 100%, 50%)
	);
}

.color-picker-alpha {
	height: 100%;
	position: relative;
	background-color: #ffffff;
}

.color-picker-alpha-bg1 {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: linear-gradient(45deg, #888 25%, transparent 25%),
		linear-gradient(-45deg, #888 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #888 75%),
		linear-gradient(-45deg, transparent 75%, #888 75%);
	background-size: 16px 16px;
	background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
}

.color-picker-alpha-bg2 {
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(
		to bottom,
		var(--selected-color) 0%,
		transparent 100%
	);
}

.color-picker-alpha-slider {
	position: absolute;
	border-color: #f7fafc;
	border-radius: 9999px;
	border-width: 2px;
	width: calc(100% + 4px);
	left: -2px;
	height: 10px;
	transform: translate(0px, calc(var(--alpha-slider-y, 0) * 1px - 5px));
}

.color-picker-result {
	position: relative;
	color: var(--result-text-color);
}

.color-picker-result-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	background: var(--selected-color);
	opacity: var(--selected-alpha);
}
