.lc-dropdown {
	--lc-dropdown-control-width: 130px;
	--lc-dropdown-control-height: 36px;
	@apply relative inline-flex;
}

.lc-dropdown-control {
	color: var(--theme-text-surface);
	background: var(--theme-surface);
	width: var(--lc-dropdown-control-width);
	height: var(--lc-dropdown-control-height);
	transition: all 200ms ease;
	text-align: center;
	text-align-last: center;
	@apply relative inline-flex outline-none appearance-none capitalize select-none;
	@apply justify-center items-center;
}

.lc-dropdown-control:focus {
	@apply outline-none;
}

.lc-dropdown-control:hover {
	box-shadow: 0 0 3px 4px rgba(110, 190, 255, 0.8);
}

.lc-dropdown-menu {
	top: calc(100% + 0.5rem);
	left: 3rem;
	z-index: inherit;
	min-width: var(--lc-dropdown-control-width);
	filter: drop-shadow(1px 1px 2px var(--theme-shadow))
		drop-shadow(1px 1px 2px var(--theme-shadow-ambient));
	@apply absolute right-0 mt-2;
}

.lc-dropdown-menu-caret {
	content: "";
	position: absolute;
	width: 1rem;
	height: 1rem;
	top: -1rem;
	left: 0.8rem;
	transition: background-color 200ms ease;
	clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
	background-color: var(--theme-surface);
}

.lc-dropdown-menu > li:first-child.selected ~ .lc-dropdown-menu-caret {
	background-color: var(--theme-active-surface);
}

.lc-dropdown-menu > li {
	color: var(--theme-text-surface);
	background-color: var(--theme-surface);
	transition: all 200ms ease;
	margin-top: -1px;
	@apply px-4 py-2 cursor-pointer select-none;
}

.lc-dropdown-menu > li.selected {
	background-color: var(--theme-active-surface);
}

.lc-dropdown-menu > li:hover {
	background-color: var(--theme-hover-surface);
}

.lc-dropdown-menu > li:first-child:hover ~ .lc-dropdown-menu-caret {
	background-color: var(--theme-hover-surface);
}
