.locale-select {
	--locale-select-width: 100px;
	--locale-select-height: 36px;
}

.locale-select {
	color: var(--theme-text-surface);
	background: var(--theme-surface);
	width: var(--locale-select-width);
	height: var(--locale-select-height);
	transition: all 200ms ease;
	text-align: center;
	text-align-last: center;
	@apply relative inline-flex outline-none appearance-none capitalize;
}

.locale-select:hover {
	box-shadow: 0 0 3px 4px rgba(110, 190, 255, 0.8);
}

.locale-select > option {
	appearance: none;
}

.locale-select > option:checked {
}
