@import "./var.css";
@import "./titlebar.css";
@import "./layout.css";

.transition-all {
	transition: all ease 0.16s;
}

@font-face {
	font-family: Fira Code;
	/* https://github.com/webpack-contrib/sass-loader#resolving-import-at-rules */
	src: local("Fira Code"), url(~assets/fonts/FiraCode-Regular.woff2);
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
