.view {
	position: relative;
	height: calc(100vh - var(--titlebar-height) - var(--footer-height));
}

.scrollbar {
	color: transparent;
	transition: color ease 0.6s;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
}

.app-footer {
	position: fixed;
	bottom: 0;
	margin-top: 0;
	width: 100%;
	height: var(--footer-height);
}
